body, h1, label, ul, li, fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

@font-face {
 font-family: Blox;
 src: url("fonts/Blox2.eot");
}

@font-face {
 font-family: Blox;
 src: url("fonts/Blox2.ttf");
}

body {
  font-family: sans-serif;
  background: #005EFF;
  text-align: center;
  padding: 20px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

header {
  margin: 0 auto;
  background: white;
  width: 593px;
}

h1 {
  font-family: "Blox";
  font-size: 36px;
}

.tag {
  float: left;
  padding: 8px;
  color: red;
}

.ef {
  float: left;
  padding: 8px;
  color: #FFD900;
}

form {
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  background: lightgrey;
}

label, input {
  display: block;
}

label {
  text-align: left;
  font-weight: 700;
  font-size: 20px;
}

input[type="radio"] {
  display: inline-block;
}

input[type="text"], input[type="email"] {
  width: 200px;
  padding: 3px;
  border-radius: 3px;
  font-size: 18px;
}

.id-field-section {
  padding-bottom: 10px;
}

.id-field {
  float: left;
}

.id-field:nth-child(even) {
  float: right;
}

@media (max-width: 630px) {
  header {
    width: 438px;
  }

  .tag, .ef {
    margin: 0 auto;
    float: none;
  }
}

@media (max-width: 550px) {
  fieldset {
    display: block;
  }
  .id-field, .id-field:nth-child(even) {
    float: none;
    width: 210px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  header {
    width: 360px;
  }

  .tag, .ef {
    font-size: 30px;
  }
}
