body, h1, label, ul, li, fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;

  background: transparent;
}

@font-face {
 font-family: Blox;
 src: url("fonts/Blox2.eot");
}

@font-face {
 font-family: Blox;
 src: url("fonts/Blox2.ttf");
}

body {
  font-family: sans-serif;
  background: #005EFF;
  text-align: center;
  padding: 20px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

header {
  margin: 0 auto;
  width: 570px;
}

h1 {
  font-family: "Blox";
  font-size: 36px;
}

.tag {
  float: left;
  padding: 8px;
  color: #00FFF6;
}

.ef {
  float: left;
  padding: 8px;
  color: #FFD900;
}

form {
  margin: 0 auto;
  width: 90%;
  max-width: 770px;
  padding: 20px;
}

label, input {
  display: block;
}

label {
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.fall, .spring {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
}

.fall {
  color: orange;
}

.spring {
  color: lightgreen;
}

input[type="radio"] {
  display: inline-block;
}

input[type="text"], input[type="email"] {
  width: 200px;
  padding: 3px;
  border-radius: 3px;
  font-size: 18px;
}

.id-field-section {
  padding-bottom: 10px;
}

.id-field {
  float: left;
  padding-bottom: 10px;
}

.id-field:nth-child(even) {
  float: right;
}

.radio-buttons > input, .radio-buttons > label {
  float: left;
}

.radio-buttons > label {
  padding: 0px 5px;
}

.radio-buttons > input {
  margin: 4px 0px;
}

textarea {
  width: 100%;
  height: 400px;
  font-size: 18px;
  padding: 3px;
}

.submit {
  margin-top: 10px;
  width: 100px;
  padding: 5px 10px;
  background: green;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: 3px solid #fff;
}

.submit:hover {
  background: lightgreen;
  cursor: pointer;
}

@media (max-width: 630px) {
  header {
    width: 438px;
  }

  .tag, .ef {
    margin: 0 auto;
    float: none;
  }
}

@media (max-width: 550px) {
  .id-field, .id-field:nth-child(even) {
    float: none;
    width: 210px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  header {
    width: 360px;
  }

  .tag, .ef {
    font-size: 30px;
  }
}
